<footer class="py-8 md:py-12 bg-dark text-light">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex flex-col md:flex-row justify-between items-center text-sm sm:text-base">
      <p>© 2025 Matias Núñez. {% if site.active_lang == 'es' %}Todos los derechos reservados.{% else %}All rights reserved.{% endif %}</p>
      <p class="mt-4 md:mt-0 text-gray-400">{% if site.active_lang == 'es' %}Sitio desarrollado con{% else %}Site developed with{% endif %} Tailwind CSS</p>
    </div>
  </div>
</footer>
