<section id="writing" class="py-16 md:py-24">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    {% if site.lang == 'es' %}
    <div>
      <h2 class="section-title" data-aos="fade-up">Escritos</h2>
      <p class="mb-8 md:mb-12 max-w-2xl text-gray-600" data-aos="fade-up" data-aos-delay="100">Ensayos, reflexiones y notas de campo sobre ciencia, exploración y la intersección entre ambas.</p>
    </div>
    {% else %}
    <div>
      <h2 class="section-title" data-aos="fade-up">Writing</h2>
      <p class="mb-8 md:mb-12 max-w-2xl text-gray-600" data-aos="fade-up" data-aos-delay="100">Essays, reflections, and field notes on science, exploration, and the intersection between both.</p>
    </div>
    {% endif %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
      {% assign posts = site.posts | where:"lang", site.lang %}
      {% for post in posts %}
      <div class="flex flex-col bg-white rounded-xl overflow-hidden border border-gray-100 shadow-md transition transform hover:-translate-y-2 hover:shadow-xl group" data-aos="fade-up" data-aos-delay="{{ forloop.index | times: 50 | plus: 100 }}">
        <div class="h-40 sm:h-56 bg-accent relative overflow-hidden"></div>
        <div class="p-4 sm:p-6 flex-grow flex flex-col h-48 sm:h-64">
          <h3 class="font-serif text-lg sm:text-xl mb-2 sm:mb-3 group-hover:text-accent transition-colors duration-300">{{ post.title }}</h3>
          <p class="mb-4 text-gray-600 flex-grow text-sm sm:text-base">{{ post.excerpt }}</p>
          <div class="mt-auto flex items-center justify-between text-sm sm:text-base">
            <div class="text-gray-500 text-xs sm:text-sm">{{ post.date | date: "%d/%m/%Y" }}</div>
            <a href="{{ post.url | relative_url }}" class="text-accent hover:text-accent-light">{% if site.lang == 'es' %}Leer{% else %}Read{% endif %} →</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mt-8 md:mt-12 text-center" data-aos="fade-up" data-aos-delay="300">
      <a href="#" class="btn btn-primary">{% if site.lang == 'es' %}Ver más artículos{% else %}View more articles{% endif %}</a>
    </div>
  </div>
</section>
